@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Global Scrollbar Styles */
body ::-webkit-scrollbar {
  width: 8px;
}

body ::-webkit-scrollbar-track {
  background: #2e2e2e;
}

body ::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
body {
  scrollbar-color: #444 #2e2e2e;
  scrollbar-width: thin;
}
